{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Add course</h1>
<p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Course Name:</label>
            {{ form.name }}
        </div><br><br>
        <div class="form-group">
            <label for="id_start_date">Start Date:</label>
            {{ form.start_date }}
        </div><br>
        <div class="form-group">
            <label for="id_end_date">End Date:</label>
            {{ form.end_date }}
        </div><br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</p>

{% endblock %}