{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Add course</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Course Name:</label>
        {{ form.name }}
    </div>
    <br>
    <div class="form-group">
        <label for="id_start_date">Start Date:</label>
        {{ form.start_date }}
    </div>
    <br>
    <div class="form-group">
        <label for="id_end_date">End Date:</label>
        {{ form.end_date }}
    </div>
    <br>
    <div class="form-group">
        <label for="id_skills">Skills:</label>
        {{ form.skills }}
    </div>
    <div class="form-group" id="new_skill">
        <label for="id_new_skill">New Skill:</label>
        <input type="text" class="form-control" id="id_new_skill" name="new_skill" placeholder="Enter new skill">
    </div>
    <br>
    <button type="button" class="btn btn-success" onclick="addNewSkill()">Add New Skill</button>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
    // Function to add new skill to the list
    function addNewSkill() {
        var newSkillInput = document.getElementById("id_new_skill");
        var newSkillValue = newSkillInput.value.trim();
        if (newSkillValue !== "") {
            var selectSkills = document.getElementById("id_skills");
            var option = document.createElement("option");
            option.text = newSkillValue;
            option.value = "new_" + newSkillValue.toLowerCase().replace(/\s+/g, "-");
            option.selected = true;
            selectSkills.add(option);
            newSkillInput.value = ""; // Clear the input field
            newSkillInput.focus(); // Focus back on the input field
        }
    }
</script>



{% endblock %}