{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .btn-edit {
        background-color: #f5df1f;
        border-radius: 35px;
        padding: 5px 19.34px;
        color: #000000;
        text-decoration: none;
    }
    .btn-info {
        background-color: #1fa7f5;
        border-radius: 35px;
        padding: 5px 19.34px;
        color: #fcfbfb;
        text-decoration: none;
    }

    .btn-more {
        background-color: #ffff98;
        border-radius: 35px;
        padding: 5px 19.34px;
        color: #fcfbfb;
        text-decoration: none;
    }

    .btn-delete {
        background-color: #e41512;
        border-radius: 35px;
        padding: 5px 10px;
        color: #000000;
        text-decoration: none;
    }

    .btn-add {
        background-color: #77DD77;
        border-radius: 35px;
        padding: 1px 17.9px;
        color: #000000;
        text-decoration: none;
    }
    .custom-select {
    width: 20%; /* Adjust as needed */
}
</style>

<h1>Edit course</h1>
<form id="course-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-group">
        <label for="id_skills">Skills:</label>
        <select multiple class="form-control custom-select" id="id_skills" name="skills">
            {% for skill in all_skills %}
                <option value="{{ skill.pk }}" {% if skill in course_skills %}selected{% endif %}>{{ skill.name }}</option>
            {% endfor %}
        </select>
    </div>

    <br>
    <a href="{% url 'students' course_id=course_id %}" class="btn-info">View students</a>
    <a href="{% url 'add_student' course_id=course_id %}" class="btn-edit">Add Student</a>
    <br><p><br>
    <a href="{% static 'student_list.csv' %}" download>Download file format to upload students list</a>
    <br><br>
    <label for="csv-file">Upload Students CSV:</label>
    <input type="file" id="csv-file" name="csv_file" accept=".csv">
    <button id="upload-csv-btn" type="button">Upload</button>
    </p>
    <button class="btn-add" type="submit">Save Changes</button>
</form>

<script>
document.getElementById("upload-csv-btn").addEventListener("click", function() {
    var formData = new FormData();
    var fileInput = document.getElementById('csv-file');
    formData.append('csv_file', fileInput.files[0]);
    
    fetch("{% url 'upload_students' course_id=course_id %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    }).then(function(response) {
        if (response.ok) {
            alert('CSV file uploaded successfully.');
        } else {
            alert('Failed to upload CSV file.');
        }
    }).catch(function(error) {
        console.error('Error uploading CSV file:', error);
    });
});
</script>


{% endblock %}
