div.topbar {
  /* background: #202020; */
   background-size: auto 45px;
   padding: 10px;

}

div.botbar{
  
   font-size: 20px;
   padding: 10px;
   color: #fff;
   background-color: #202020;
  
}

.about-link {
   color: #fff; /* Set link color to white */
   font-weight: bold; /* Make the text bold */
   text-decoration: none; /* Remove default underline */
}

.about-link:hover {
   text-decoration: underline; /* Add underline on hover */
}


.wrapper {
   flex: 1;
 }

 .footer {
   background-color: #202020; /* Set your desired background color */
   color: #fff; /* Set your desired text color */
   padding: 100px; /* Adjust padding as needed */
 }
 body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
  
 }

 .container-top{
   margin-top: 100px;
 }

 .card-link {
   text-decoration: none;
   color: inherit;
 }

 .card-img-top {
   margin: 0 auto; /* Center the image horizontally */
 }

 .green{
   color:#AED695
 }

/* student Login */

.col-md-12 {
  border-color: rgb(23, 19, 19); /* Change to the color you want */
  border-width: 1px; /* Optional: Change border width */
  border-style: solid; /* Optional: Set border style */
  padding: 20px; /* Optional: Add padding */
  border-radius: 1pc;

 
}

.student_login{
  text-align: center;
  
}

.h5{
  text-align: center;
}

/* student Signup */

h2{
  text-align: center;
}

h5{
  text-align: center;
}

.container{
  max-width: 500px;
  width: 100%;
  background: #f6f4f4;
  margin: 20px auto;
  /* box-shadow: 1px 1px 2px rgba(0,0,0,0.125); */
  padding: 30px;
}





.container.inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  width:100px;
}

.container .form .inputfield label{
  width: 200px;
  color: #060404;
  margin-right: 10px;
 font-size: 18px;

}

.container .form .inputfield .course{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}
