div.topbar {
  /* background: #202020; */
   background-size: auto 45px;
   padding: 10px;

}

div.botbar{
  
   font-size: 20px;
   padding: 10px;
   color: #fff;
   background-color: #202020;
  
}

.about-link {
   color: #fff; /* Set link color to white */
   font-weight: bold; /* Make the text bold */
   text-decoration: none; /* Remove default underline */
}

.about-link:hover {
   text-decoration: underline; /* Add underline on hover */
}


.wrapper {
   flex: 1;
 }

 .footer {
   background-color: #202020; /* Set your desired background color */
   color: #fff; /* Set your desired text color */
   padding: 100px; /* Adjust padding as needed */
 }
 body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
  
 }

 .container-top{
   margin-top: 100px;
 }

 .card-link {
   text-decoration: none;
   color: inherit;
 }

 .card-img-top {
   margin: 0 auto; /* Center the image horizontally */
 }

 .green{
   color:#AED695
 }





/* student Login */

.col-md-12 {
  border-color: rgb(23, 19, 19); /* Change to the color you want */
  border-width: 1px; /* Optional: Change border width */
  border-style: solid; /* Optional: Set border style */
  padding: 20px; /* Optional: Add padding */
  border-radius: 1pc;

 
}

.student_login{
  text-align: center;
  
}

.h5{
  text-align: center;
}

/* student Signup */

h2{
  text-align: center;
}

h5{
  text-align: center;
}


.container_stu{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 420px;
  background-color: aliceblue;
  
}

.container_stu1{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 40px;
  background-color: aliceblue;
  
}

.label{
  width: 200px; 
  color: #060404;
  margin-right: 10px;
  font-size: 18px;
}

.course {
    width: 204px; 
    height: 33px; 
    
  }


.social-links {
  font-size: 12px;
}

.social-links img {
  width: 30px; 
  height: 30px; 
}

/* .form-check{
  text-align: center;
} */











