# Ignore cache files
*.cache

# Ignore compiled Python files
*.pyc
*.pyo
*.mo
*.po


# Django stuff:
*.log
*local_settings.py
*db.sqlite3
*db.sqlite3-journal


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


# Translations
*.mo
*.pot

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class
*.pyc


#random
Lexicon/__pycache__/urls.cpython-311.pyc
Lexicon_App/__pycache__/views.cpython-311.pyc
Lexicon_App/static/css/misc.css
