{% extends "base.html" %} {% load static %} {% block content %}

<div class="col-md-12">
  <div class="container2">
    <div class="container mt-5">
      <div class="row">
        <!-- Column for Picture -->
        <div class="col-md-6">
          <img
            class="card-img-top"
            src="../static/images/employer-login.png"
            alt="company"
            style="width: 70%"
          />
        </div>
        <!-- Column for Login Form -->
        <div class="col-md-6">
          <h2 class="Company_login"><b>Company Login</b></h2>
          <br />
          <br />
          {% if error_message %}
          <div class="alert alert-danger" role="alert">{{ error_message }}</div>
          {% endif %}
          <form method="post" action="{% url 'company_login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter your email"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter your password"
              />
            </div>
            <button type="submit" class="btn btn-block btn-primary">
              Login
            </button>
          </form>
          <br />
          <br />
          <br />

          <h5 class="h5">
            Don’t have an account?

            <a href="{% url 'company_signup' %}">Sign Up</a> here
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}