{% extends "base.html" %} {% load static %} {% block content %}
<div class="col-md-12">
  <div class="container2">
    <div class="container mt-5">
      <div class="row">
        <!-- Column for Picture -->
        <div class="col-md-6">
          <img
            class="card-img-top"
            src="{% static 'images/employer-login.png' %}"
            alt="Company"
            style="width: 70%"
          />
        </div>
        <!-- Column for Login Form -->

        <div class="container">
          <h2 class="h2"><b>Company Login</b></h2>
          <br />

          <form class="form" action="{% url 'company_login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                name="username"
                class="form-control"
                id="username"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <br />
          <br />
          <br />
          <h5 class="h5">
            Don’t have an account?
            <a href="{% url 'company_signup' %}">Sign Up</a> here
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
