{% extends "base.html" %}
{% load static %}

{% block content %}

  <h2 class="heading2"><b>Student Profile</b></h2>
  <br/>
    <h5 class="heading5"><b>Fill your Personal Information</b></h5>
  <br/>
  <div class="shadow p-4 mb-5 bg-body rounded">
   
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ student_form.as_p }}
 
  <br>
  <div style="text-align: center;">
    <button class="btn btn-block btn-success" type="submit" style="width: 100px;">Sign Up</button>
  </div>
  
</form>

   <style>
    body {background-color: rgb(235, 244, 251);}
    
   </style>
  </div>

{% endblock %}