{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .btn-success{
        width: 150px;
        margin-left: 32pc;
    }
    body 
    {background-color: rgb(235, 244, 251);}
.h1{
    text-align: center;
}
</style>
<h1 class="heading">Update Student Information</h1>
<br>

<div class="shadow p-4 mb-5 bg-body rounded">
    <form method="post" enctype="multipart/form-data">  <!-- Add enctype for file uploads -->
        {% csrf_token %}
        {{ form.as_p }}
        
        <p><strong>Selected Skills:</strong></p>
        <ul>
            {% for skill in student.skills.all %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    
        <p><strong>Selected Course:</strong>{{ student.course }}</p>
        <br>
        <button class="btn btn-success btn-save" type="submit"><b>Save</b></button>
    </form>
</div>
    {% endblock %}