{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container col-md-12">
<div class="container mt-5">
    <div class="row">
        <!-- Column for Picture -->
        <div class="col-md-2">

        </div>
        <div class="col-md-3">
            <!-- <img src="static/images/user-admin-gear.png" class="img-fluid img-thumbnail mx-auto d-block" width="300" height="400"  alt="Image"> -->
            <img class=" img-thumbnail float-end" width="400" height="450"  alt="Image" src="{% static "images/user-admin-gear.png" %}" alt="students">
        </div>
        <!-- Column for Login Form -->
        <div class="col-md-5 login-form mb-4 img-fluid  img-thumbnail ">
            <h2>Admin Login</h2>
            <br>
            <form>
                <div class="mb-3 ">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
</div>
{% endblock %}






