{% extends "base.html" %} {% load static %} {% block content %}
<style>
            .btn-back{
        background-color: #bc3545;
        border-radius: 35px;
        padding: 11px 25px;
        color: #fdfdfd;
        text-decoration: none;
    }
    
</style>
<h1 class="text-center">List of companies</h1>
<div class="container">

<br />

<div class="container-fluid mt-3">

    {% if company_data %}
        {% for company in company_data %}
            
            <ul>
                
                <li>
                    <a href="{% url 'company_info' company_ID=company.company_ID %}"><b>{{ company.name }}</b></a><br>Accepting Interns: {{ company.accepting_interns }}</li>
            </ul>
        {% endfor %}   

    {% endif %}

</div>
<a href="{% url 'welcome_admin' %}"
<button type="button" class="btn-back">Back to home</button></a>
{% endblock %}