{% extends "base.html" %} {% load static %} {% block content %}

<div class="col-md-12">
  <div class="container2">
    <div class="container mt-5">
      <div class="row">
        <!-- Column for Picture -->
        <div class="col-md-6">
          <img
            class="card-img-top"
            src="../static/images/employer-login.png"
            alt="students"
            style="width: 70%"
          />
        </div>
        <!-- Column for Login Form -->
        <div class="col-md-6">
          <h2 class="employer_login"><b>Company Login</b></h2>
          <br />
          <br />

          <form>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" />
            </div>
            <button type="submit" class="btn btn-block btn-primary">
              Login
            </button>
          </form>
          <br />
          <br />
          <br />

          <h5 class="h5">
            Don’t have an account?
            <a href="employer_singup"><b>Signup</b></a> here
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
