{% extends "base.html" %}
{% load static %}

{% block content %}



  <h2 class="h2"><b>Student Profile</b></h2>
  <br>
  <h5 class="h5"><b>Fill your Personal Informations</b></h5>
  <br>

  <div class="container_stu">
    
   <form class="form1" action="submit.php" method="post">


   <div class="inputfield mb-2">
      <label class="label" for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" required>
   </div>

   <div class="inputfield mb-2">   
    <label class="label" for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" required>
   </div>

   <div class="inputfield mb-2">
    <label class="label" for="personal_number">Personal Number</label>
    <input type="text" id="personal_number" name="personal_number" required>
   </div>

   <div class="inputfield mb-2">
    <label class="label" for="age">Age</label>
    <input type="number" id="age" name="age" required>
   </div>

   <div class="inputfield mb-2">
    <label class="label" class="label" for="email">Email ID</label>
    <input type="email" id="email" name="email" required>
   </div>

   <div class="inputfield mb-2">
    <label class="label" for="phone">Phone Number</label>
    <input type="tel" id="phone" name="phone" required>
   </div>

   <div class="inputfield mb-2">  
    <label class="label" for="qualification">Educational Qualification</label>
    <input type="text" id="qualification" name="qualification" required>
   </div>

   <div class="inputfield mb-2">
    <label class="label" for="course">Course (Lexicon)</label>
    <select class="course" id="course" name="course">
      <option value="">Select the Course</option>
      <option value="IT Support Technician">IT Support Technician</option>
      <option value="Frontend Developer">Frontend Developer</option>
      <option value="ASP.net">ASP.net</option>
      <option value="Full Stack Developer">Full Stack Developer</option>
      <option value="Python & IT Security">Python & IT Security</option>
      <option value="Service now">Service now</option>
      <option value="DevOps">DevOps</option>
      <option value="Software tester">Software tester</option>
    </select>
    </div>

   <div class="inputfield mb-2">
    <label class="label" for="skills">Skills</label>
    <input type="text" id="skills" name="skills" required>
   </div>
    
   <div class="inputfield mb-2">
    <label class="label" for="password">Password</label>
    <input type="password" id="password" name="password" required>
   </div>

   <div class="inputfield mb-2">
    <label class="label" for="confirm_password">Confirm Password</label>
    <input type="password" id="confirm_password" name="confirm_password" required>
   </div> 
  </div>
<div class="container_stu1">
   <div class="social-links">
    <p><a href="https://www.linkedin.com/in/yourprofile" target="_blank">
      <img src="{% static "images/linkedin.png" %}" alt="Linkedin">
    </a>______________________________________________________________________
    
    <a href="https://github.com/yourusername" target="_blank">
      <img src="{% static "images/github.png" %}" alt="Github">
    </a>______________________________________________________________________
  
    <button class="btn btn-block btn-primary" type="submit">Upload CV</button>
    <input type="file" id="cv-upload" style="display: none;">
  </p>
  </div>

  <br>

    <div class="form-check">
     <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
     <label class="form-check-label">  I agree to my personal data stored and used to receive updates </label>
     <button type="button" class="btn btn-success">Signup</button>
   </div>


   </div>
  </form>
</div>

{% endblock %}