{% extends "base.html" %} {% load static %} {% block content %}
<style>
    .btn-info {
            background-color: #1fa7f5;
            border-radius: 35px;
            padding: 5px 10px;
            color: #fcfbfb;
            text-decoration: none;
        }
        .btn-back{
        background-color: #bc3545;
        border-radius: 35px;
        padding: 11px 25px;
        color: #fdfdfd;
        text-decoration: none;
    }
</style>

<h1 class="text-center">List of students - {{ course.name }}</h1>
<div class="container">

<br />

<div class="container-fluid mt-3">

    {% if student_data %}
        {% for student in student_data %}
            
            <ul>
                <li>{{ student.first_name }} {{ student.last_name }} - {{ student.email }}
                <a href="{% url 'info_student' student_ID=student.student_ID %}" class="btn-info">View details</a></li>
            </ul>
        {% endfor %}   

    {% endif %}
</div><br>

<div style="text-align: center;">
    <a href="{% url 'courses' %}" class="btn-back">Back</a>
</div>

{% endblock %}