{% extends "base.html" %} {% load static %} {% block content %}

<h1 class="text-center">List of courses</h1>
<div class="container">

<br />

<div class="container-fluid mt-3">

    {% if student_data %}
        {% for student in student_data %}
            
            <ul>
                <li>{{ student.first_name }} {{ student.last_name }} {{ student.email }}</li>
            </ul>
        {% endfor %}   

    {% endif %}
</div>
<a href="{% url 'welcome_admin' %}"
<button type="button" class="btn btn-danger">Back to home</button></a>
{% endblock %}